$mobile-size: 320px;
$tablet-size: 768px;
$tablet-ipad-size: 1024px;
$desktop-size: 1280px;
$tv-size: 1281px;

@mixin mobile {
  @media (max-width: #{$tablet-size - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-size}) and (max-width: #{$tablet-ipad-size - 1px}) {
    @content;
  }
}

@mixin tablet-ipad {
  @media (min-width: #{$tablet-ipad-size}) and (max-width: #{$desktop-size - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-size}) and (max-width: #{$tv-size - 1px}) {
    @content;
  }
}

@mixin tv {
  @media (min-width: #{$tv-size}) {
    @content;
  }
}

:root {
  --primary_color: #0746A6;
  --primary_color_hover: #06275a;
  --primary_color_transparent: #E4E6EA;
  --primary_color_transparent_2: #F2F4F7;
  --body-background-alt: #F9FAFC;
  --skyblue: rgba(140, 194, 232, 0.24);
}

body{
  font-family: 'Inter', sans-serif;
}
.border-bottom, .border, .border-end, .border-start
{
  border-color: #E4E6EA !Important;
}
.bg-primary_transparent_2
{
  background: var(--primary_color_transparent_2) !Important;
}
.bg-skyblue
{
  background: var(--skyblue) !Important;
}
.bg-background-alternate
{
  background: var(--body-background-alt) !Important;
}

.text-xxs{
  font-size: .75rem !Important;
  line-height: 1rem !Important;
}
.no_shadow, .no_shadow:focus, .no_shadow:active
{
  border:none !Important;
  transition: none !Important;
  box-shadow: none !important;
}

a{
  text-decoration: none !important;
  color: inherit !Important;
}

#main_nav
{
  .nav-link
  {
    padding-top: 0 !Important;
    padding-bottom: 0 !Important;
    background: none !Important;
   // border-left: 1px solid #dee2e6;
    color: inherit !important;
    border-radius: 0;
  }

  .dropdown-menu
  {
    margin-top: 10px !Important;
    //box-shadow: 1px 3px 9px gainsboro;
    transition: .3s;

    a{
      color: inherit !important;
      &:hover{
      //background: var(--primary_color_transparent);
      }
    }

    .dropdown-item
    {
      padding: 5px 20px;


    }

    li{
      border-bottom: 1px solid #dee2e6;

      &:last-of-type{
        border-bottom: none !important;
      }
    }
  }
}

#menu_1
{


  li{
    height: auto !Important;
    padding: 4px !important;
    margin: 20px 15px;
    border-radius: 50px;
    background: #fff;


    &.ant-menu-item-selected
    {
      background:  var(--secondary_color);
      color: #fff;

      svg{
       // color: var(--primary_color) !Important;
      }
    }

    .ant-menu-item-icon
    {
      width:100%;


      img, svg {
        margin-top: -3px;
         vertical-align: center !Important;
      }


    }
  }


}
.bg-gray-1
{
  background: rgba(140,143,163,.12);
}

#inner_sidebar_menu
{

  .ant-menu-submenu-title, .ant-menu-item {
    border-radius: 10px !important;
  }

    .ant-menu-submenu-open {

      border-radius: 10px !important;


      .ant-menu-submenu-title {
        background: var(--primary_color_transparent);
      }

      svg {
        // color: var(--primary_color) !Important;
      }
    }



  .ant-menu-sub
  {
    border-radius: 10px !important;
    margin-top:10px !important;
  }

}

.side_menu
{

    .ant-menu-title-content {
    margin-left: 15px !Important;

    }

    .ant-menu-item-selected
    {
      border: none !Important;
      color: var(--primary_color) !important;
    }


  .ant-menu-item, .ant-menu-submenu .ant-menu-submenu-title {
    width: 90%;
    margin-bottom: 0 !Important;
    margin-top: 0 !Important;
    padding-left: 20px !Important;
    color: #78797A;
  }

  .ant-menu-item-selected
  {
    &::after {
      border-right: none !important;
    }
    background: #E9ECF1 !Important;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

  }

}

#nprogress {
  position: fixed !important;
  z-index: 99999999 !important;
  top: 0;
  left: 0;
  right: 0;

  .bar {
    height: 5px !important;
    background: var(--primary_colour) !important;
  }
}


.w-max-120
{
  width: 140px !important;
}


.switch input {
  position: absolute;
  opacity: 0;
}

.ant-modal-mask
{
  z-index: 99999 !Important;

}
.ant-modal-wrap
{
  z-index: 9999999 !Important;
}
.ant-btn
{
  .anticon svg{
    margin-top:-5px !Important;
  }
}
.anticon svg
{
  margin-top: -5px !Important;
}

.ant-drawer
{
  z-index: 999999;
}

.border_primary{
  border-color: var(--primary_color) !Important;
}

.support_container
{
  bottom:35px;
  right:40px;
  left: auto
}


#main_navigation
{
  li{
    a.nav-link{
      color: #333 !Important;
      font-size: 1.1rem;
      margin-right: 20px;

      &:hover{
        color: var(--primary_color) !Important
      }
    }
  }
}


.main_sidebar
{
  overflow-y: auto;
  overflow-x: hidden !Important;
}

.page_tabs
{
  .ant-tabs-tab{
    padding: 20px 0;
    border-bottom: 10px;

    span{
      padding: 0 !Important;
      color: #81868C;

      .ant-badge
      {
      margin-left: 8px;
        min-width: 30px !important;
        padding: 4px;

        .ant-badge-count, .ant-badge-count span
        {
          font-size: 12px;
          font-weight: 500;
          color: #737A91 !Important;
        }
      }
    }
  }

  .ant-tabs-tab-active
  {
    span{
    color: var(--primary_color) !Important;
    }
  }
}

.font_gray{
  color: #81868C !important;
}
.btn-pill
{
  border-radius: 20px !Important;
  padding-left: 15px !Important;
  padding-right: 15px !Important;
  //color: #81868C !important;
  font-size: 10px;
  border-color: #81868C !important;

  &:hover{
    background: none !Important;
    color: var(--primary_color) !important;
    border-color:  var(--primary_color) !important;
  }
}

.overflowYAuto
{
  overflow-y: auto !Important;
}

.login_box {
  padding: 3rem;
  border-radius: 1rem;

  @include mobile {
    padding: 3rem;
  }
}

.bg-skyblue {
  background: var(--skyblue) !Important;
}

.bg-background-alternate {
  background: var(--body-background-alt) !Important;
}

.text-xxs {
  font-size: .75rem !Important;
  line-height: 1rem !Important;
}


.w-60 {
  width: 60% !important;
}

.h-full {
  height: 100vh !important;
}

.h-90 {
  height: 90vh !important;
}

.h-85 {
  height: 85vh !important;
}


  .dashboard_layout {
    .trigger {
      padding: 0 24px;
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .dashboard_logo {
      height: 50px;
      margin: 16px;

      img {
        width: 80%;
      }
    }

    .site-layout {
      @include tablet {
        margin-left: 0px !important;
      }
      @include mobile {
        margin-left: 0px !important;
      }

      .site-layout-background {
        background: #fff;
      }
    }

    .dashboard_sidebar {
      @include tablet {
        width: 0px !important;
        max-width: 0px !important;
        min-width: 0 !important;
      }
      @include mobile {
        width: 0px !important;
        max-width: 0px !important;
        min-width: 0 !important;
      }
    }

    .trigger {
      @include tablet {
        display: none !important;
      }
      @include mobile {
        display: none !important;
      }
    }
  }

  .dashboard_sidebar {
    @include tablet {
      width: 0px !important;
      max-width: 0px !important;
      min-width: 0 !important;
    }
    @include mobile {
      width: 0px !important;
      max-width: 0px !important;
      min-width: 0 !important;
    }
  }

.lowerAffix
{
  .ant-affix
  {

  }
}

.cursor_pointer
{
  cursor: pointer;
}

.font-xxs {
  font-size: 0.7rem;
}